<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:settings xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
	xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math"
	xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word"
	xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
	xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main">
	<w:zoom w:percent="100" />
	<w:proofState w:spelling="clean" w:grammar="clean" />
	<w:defaultTabStop w:val="708" />
	<w:hyphenationZone w:val="425" />
	<w:drawingGridHorizontalSpacing w:val="110" />
	<w:displayHorizontalDrawingGridEvery
		w:val="2" />
	<w:characterSpacingControl w:val="doNotCompress" />
	<w:compat />
	<w:rsids>
		<w:rsidRoot w:val="00A52BB9" />
		<w:rsid w:val="000049AD" />
		<w:rsid w:val="00014BDE" />
		<w:rsid w:val="00015599" />
		<w:rsid w:val="00021BE9" />
		<w:rsid w:val="00030759" />
		<w:rsid w:val="00032013" />
		<w:rsid w:val="0003459D" />
		<w:rsid w:val="00044396" />
		<w:rsid w:val="00052AD9" />
		<w:rsid w:val="00054C08" />
		<w:rsid w:val="00062ABD" />
		<w:rsid w:val="0006305E" />
		<w:rsid w:val="00081D38" />
		<w:rsid w:val="000858DB" />
		<w:rsid w:val="00095F97" />
		<w:rsid w:val="000A6475" />
		<w:rsid w:val="000B0DA6" />
		<w:rsid w:val="000B5689" />
		<w:rsid w:val="000B5A6F" />
		<w:rsid w:val="000D173D" />
		<w:rsid w:val="000D3307" />
		<w:rsid w:val="000E3550" />
		<w:rsid w:val="000F271E" />
		<w:rsid w:val="000F7D9F" />
		<w:rsid w:val="00100460" />
		<w:rsid w:val="00101BDC" />
		<w:rsid w:val="00101CDA" />
		<w:rsid w:val="001025A1" />
		<w:rsid w:val="001113A7" />
		<w:rsid w:val="00111AEA" />
		<w:rsid w:val="00111FD8" />
		<w:rsid w:val="00117776" />
		<w:rsid w:val="00140F0D" />
		<w:rsid w:val="00152148" />
		<w:rsid w:val="00163B51" />
		<w:rsid w:val="00180E43" />
		<w:rsid w:val="00187A57" />
		<w:rsid w:val="00196227" />
		<w:rsid w:val="0019622A" />
		<w:rsid w:val="001A4B71" />
		<w:rsid w:val="001B3B07" />
		<w:rsid w:val="001B4CBE" />
		<w:rsid w:val="001C0AFB" />
		<w:rsid w:val="001D36EF" />
		<w:rsid w:val="001D6592" />
		<w:rsid w:val="001E04FE" />
		<w:rsid w:val="001E793F" />
		<w:rsid w:val="001F4316" />
		<w:rsid w:val="001F7D97" />
		<w:rsid w:val="00200D38" />
		<w:rsid w:val="00205732" />
		<w:rsid w:val="002059F0" />
		<w:rsid w:val="00212928" />
		<w:rsid w:val="00226048" />
		<w:rsid w:val="00227747" />
		<w:rsid w:val="00237F92" />
		<w:rsid w:val="002563DC" />
		<w:rsid w:val="00257FEC" />
		<w:rsid w:val="00260A31" />
		<w:rsid w:val="00263427" />
		<w:rsid w:val="00285812" />
		<w:rsid w:val="00286A3F" />
		<w:rsid w:val="00294754" />
		<w:rsid w:val="002971AF" />
		<w:rsid w:val="002977E5" />
		<w:rsid w:val="002A0EC4" />
		<w:rsid w:val="002A296E" />
		<w:rsid w:val="002B2D51" />
		<w:rsid w:val="002B5ADD" />
		<w:rsid w:val="002C0B8D" />
		<w:rsid w:val="002E03AB" />
		<w:rsid w:val="00300B79" />
		<w:rsid w:val="00315AB9" />
		<w:rsid w:val="00317FA4" />
		<w:rsid w:val="00323687" />
		<w:rsid w:val="00326331" />
		<w:rsid w:val="003274EC" />
		<w:rsid w:val="00340F91" />
		<w:rsid w:val="0035186F" />
		<w:rsid w:val="003563F5" />
		<w:rsid w:val="00360E90" />
		<w:rsid w:val="00380AC2" />
		<w:rsid w:val="00381820" />
		<w:rsid w:val="00381897" />
		<w:rsid w:val="00385975" />
		<w:rsid w:val="003945B6" />
		<w:rsid w:val="00395188" />
		<w:rsid w:val="003A6CBA" />
		<w:rsid w:val="003B5101" />
		<w:rsid w:val="003C0268" />
		<w:rsid w:val="003C5C40" />
		<w:rsid w:val="003D22C6" />
		<w:rsid w:val="003E790B" />
		<w:rsid w:val="003F65E9" />
		<w:rsid w:val="003F6FCF" />
		<w:rsid w:val="003F70E3" />
		<w:rsid w:val="004009D1" />
		<w:rsid w:val="00404567" />
		<w:rsid w:val="00405C98" />
		<w:rsid w:val="00412234" />
		<w:rsid w:val="00412A87" />
		<w:rsid w:val="00416B9F" />
		<w:rsid w:val="004245C1" />
		<w:rsid w:val="00432CA1" />
		<w:rsid w:val="004421EC" />
		<w:rsid w:val="004444E7" />
		<w:rsid w:val="0044473B" />
		<w:rsid w:val="00447A4D" />
		<w:rsid w:val="00457546" />
		<w:rsid w:val="00461045" />
		<w:rsid w:val="00466919" />
		<w:rsid w:val="00470398" />
		<w:rsid w:val="00475F50" />
		<w:rsid w:val="00484C69" />
		<w:rsid w:val="00485E96" />
		<w:rsid w:val="00493222" />
		<w:rsid w:val="004A4444" />
		<w:rsid w:val="004A447D" />
		<w:rsid w:val="004B2425" />
		<w:rsid w:val="004B33ED" />
		<w:rsid w:val="004C13A6" />
		<w:rsid w:val="004D69F9" />
		<w:rsid w:val="004D7F9A" />
		<w:rsid w:val="004E09F3" />
		<w:rsid w:val="004E3250" />
		<w:rsid w:val="004E4018" />
		<w:rsid w:val="005013B1" />
		<w:rsid w:val="00511430" />
		<w:rsid w:val="0051477C" />
		<w:rsid w:val="005169BE" />
		<w:rsid w:val="005229B5" />
		<w:rsid w:val="00527307" />
		<w:rsid w:val="0053583B" />
		<w:rsid w:val="00535901" />
		<w:rsid w:val="00543280" />
		<w:rsid w:val="00555A1A" />
		<w:rsid w:val="00556894" />
		<w:rsid w:val="00564C53" />
		<w:rsid w:val="005660D4" />
		<w:rsid w:val="00580C04" />
		<w:rsid w:val="00581AC2" />
		<w:rsid w:val="005830FD" />
		<w:rsid w:val="005A442D" />
		<w:rsid w:val="005B0B03" />
		<w:rsid w:val="005B744E" />
		<w:rsid w:val="005C5DEA" />
		<w:rsid w:val="005C6D16" />
		<w:rsid w:val="005E12DC" />
		<w:rsid w:val="005E2134" />
		<w:rsid w:val="005E4CAC" />
		<w:rsid w:val="005F2911" />
		<w:rsid w:val="005F73C7" />
		<w:rsid w:val="006130EE" />
		<w:rsid w:val="00615E98" />
		<w:rsid w:val="00622B58" />
		<w:rsid w:val="00626A56" />
		<w:rsid w:val="00633E3B" />
		<w:rsid w:val="00636800" />
		<w:rsid w:val="00642854" />
		<w:rsid w:val="006524F2" />
		<w:rsid w:val="00655BF8" />
		<w:rsid w:val="00656BEC" />
		<w:rsid w:val="0066335B" />
		<w:rsid w:val="00667ED4" />
		<w:rsid w:val="006700AE" />
		<w:rsid w:val="00671460" />
		<w:rsid w:val="00672AD3" />
		<w:rsid w:val="00677274" />
		<w:rsid w:val="00680F54" />
		<w:rsid w:val="0068385B" />
		<w:rsid w:val="00684B95" />
		<w:rsid w:val="00686822" />
		<w:rsid w:val="00687DD8" />
		<w:rsid w:val="006A70D2" />
		<w:rsid w:val="006B44E9" />
		<w:rsid w:val="006B53EF" />
		<w:rsid w:val="006B68DD" />
		<w:rsid w:val="006B772B" />
		<w:rsid w:val="006D1597" />
		<w:rsid w:val="006D236C" />
		<w:rsid w:val="006D69E6" />
		<w:rsid w:val="00703945" />
		<w:rsid w:val="00705465" />
		<w:rsid w:val="007137D9" />
		<w:rsid w:val="0071661C" />
		<w:rsid w:val="007209AE" />
		<w:rsid w:val="007330F6" />
		<w:rsid w:val="007346D0" />
		<w:rsid w:val="0075103E" />
		<w:rsid w:val="007524BA" />
		<w:rsid w:val="007535B1" />
		<w:rsid w:val="0075791D" />
		<w:rsid w:val="00757EB4" />
		<w:rsid w:val="00764824" />
		<w:rsid w:val="0076726A" />
		<w:rsid w:val="00772C97" />
		<w:rsid w:val="0077458C" />
		<w:rsid w:val="00784ACA" />
		<w:rsid w:val="00795AA6" />
		<w:rsid w:val="00797AB6" />
		<w:rsid w:val="007A2B06" />
		<w:rsid w:val="007A4057" />
		<w:rsid w:val="007A5139" />
		<w:rsid w:val="007A6283" />
		<w:rsid w:val="007B2BBD" />
		<w:rsid w:val="007B4B28" />
		<w:rsid w:val="007C3621" />
		<w:rsid w:val="007F728C" />
		<w:rsid w:val="007F757E" />
		<w:rsid w:val="008002BE" />
		<w:rsid w:val="008111C8" />
		<w:rsid w:val="008136C0" />
		<w:rsid w:val="00814119" />
		<w:rsid w:val="0081538B" />
		<w:rsid w:val="00821A1E" />
		<w:rsid w:val="00827C75" />
		<w:rsid w:val="00830A31" />
		<w:rsid w:val="00843B64" />
		<w:rsid w:val="00854E7C" />
		<w:rsid w:val="00855D1B" />
		<w:rsid w:val="00856558" />
		<w:rsid w:val="00861C90" />
		<w:rsid w:val="00863E5B" />
		<w:rsid w:val="00872263" />
		<w:rsid w:val="0087700D" />
		<w:rsid w:val="00880D94" />
		<w:rsid w:val="00886628" />
		<w:rsid w:val="0088732F" />
		<w:rsid w:val="00891231" />
		<w:rsid w:val="008B5C39" />
		<w:rsid w:val="008C2407" />
		<w:rsid w:val="008C5A0E" />
		<w:rsid w:val="008D07A8" />
		<w:rsid w:val="008D30BC" />
		<w:rsid w:val="008F0CA5" />
		<w:rsid w:val="00906289" />
		<w:rsid w:val="00907A74" />
		<w:rsid w:val="00913B5B" />
		<w:rsid w:val="00920827" />
		<w:rsid w:val="00920ABE" />
		<w:rsid w:val="009217C8" />
		<w:rsid w:val="00940590" />
		<w:rsid w:val="00941199" />
		<w:rsid w:val="00941D49" />
		<w:rsid w:val="00943FD4" />
		<w:rsid w:val="0094534F" />
		<w:rsid w:val="009608AF" />
		<w:rsid w:val="009611D6" />
		<w:rsid w:val="009755C7" />
		<w:rsid w:val="00977825" />
		<w:rsid w:val="009803BC" />
		<w:rsid w:val="00980642" />
		<w:rsid w:val="009932A6" />
		<w:rsid w:val="0099756B" />
		<w:rsid w:val="009A3DF3" />
		<w:rsid w:val="009B5360" />
		<w:rsid w:val="009C26CE" />
		<w:rsid w:val="009C2F48" />
		<w:rsid w:val="009C47AF" />
		<w:rsid w:val="009C5701" />
		<w:rsid w:val="009C70AA" />
		<w:rsid w:val="009E47FA" />
		<w:rsid w:val="009E6217" />
		<w:rsid w:val="009E7825" />
		<w:rsid w:val="009F447A" />
		<w:rsid w:val="009F45CE" />
		<w:rsid w:val="009F5E82" />
		<w:rsid w:val="00A019F2" />
		<w:rsid w:val="00A13043" />
		<w:rsid w:val="00A13619" />
		<w:rsid w:val="00A215C4" />
		<w:rsid w:val="00A22BB9" />
		<w:rsid w:val="00A3100E" />
		<w:rsid w:val="00A372B7" />
		<w:rsid w:val="00A5174A" />
		<w:rsid w:val="00A52BB9" />
		<w:rsid w:val="00A543A5" />
		<w:rsid w:val="00A561F6" />
		<w:rsid w:val="00A60B62" />
		<w:rsid w:val="00A76640" />
		<w:rsid w:val="00A808E4" />
		<w:rsid w:val="00A80E58" />
		<w:rsid w:val="00A82C46" />
		<w:rsid w:val="00A86665" />
		<w:rsid w:val="00A94650" />
		<w:rsid w:val="00AA2EC1" />
		<w:rsid w:val="00AB0D38" />
		<w:rsid w:val="00AB31A9" />
		<w:rsid w:val="00AB52C2" />
		<w:rsid w:val="00AB5369" />
		<w:rsid w:val="00AC06F2" />
		<w:rsid w:val="00AC2DEE" />
		<w:rsid w:val="00AD550D" />
		<w:rsid w:val="00AE1853" />
		<w:rsid w:val="00B00CBF" />
		<w:rsid w:val="00B01209" />
		<w:rsid w:val="00B03623" />
		<w:rsid w:val="00B03D97" />
		<w:rsid w:val="00B1055E" />
		<w:rsid w:val="00B11A03" />
		<w:rsid w:val="00B12D5F" />
		<w:rsid w:val="00B23D28" />
		<w:rsid w:val="00B27B09" />
		<w:rsid w:val="00B30276" />
		<w:rsid w:val="00B33EBF" />
		<w:rsid w:val="00B45DA9" />
		<w:rsid w:val="00B52339" />
		<w:rsid w:val="00B54386" />
		<w:rsid w:val="00B61FF8" />
		<w:rsid w:val="00B62512" />
		<w:rsid w:val="00B644AD" />
		<w:rsid w:val="00B651E3" />
		<w:rsid w:val="00B70E50" />
		<w:rsid w:val="00B72019" />
		<w:rsid w:val="00B82937" />
		<w:rsid w:val="00B83E51" />
		<w:rsid w:val="00B86B58" />
		<w:rsid w:val="00B86B91" />
		<w:rsid w:val="00B87EBA" />
		<w:rsid w:val="00B97F93" />
		<w:rsid w:val="00BA6819" />
		<w:rsid w:val="00BB0394" />
		<w:rsid w:val="00BB2F03" />
		<w:rsid w:val="00BB6040" />
		<w:rsid w:val="00BC06F1" />
		<w:rsid w:val="00BC652C" />
		<w:rsid w:val="00BC65AB" />
		<w:rsid w:val="00BD3A72" />
		<w:rsid w:val="00BD6B91" />
		<w:rsid w:val="00BE12CF" />
		<w:rsid w:val="00BE6B7F" />
		<w:rsid w:val="00BF1A87" />
		<w:rsid w:val="00BF1AFB" />
		<w:rsid w:val="00BF425B" />
		<w:rsid w:val="00BF4C15" />
		<w:rsid w:val="00BF7134" />
		<w:rsid w:val="00C06DCF" />
		<w:rsid w:val="00C14232" />
		<w:rsid w:val="00C169A3" />
		<w:rsid w:val="00C17C1A" />
		<w:rsid w:val="00C2261F" />
		<w:rsid w:val="00C23A14" />
		<w:rsid w:val="00C23A2D" />
		<w:rsid w:val="00C526E1" />
		<w:rsid w:val="00C60CDC" />
		<w:rsid w:val="00C61E9B" />
		<w:rsid w:val="00C63151" />
		<w:rsid w:val="00C83441" />
		<w:rsid w:val="00C839CA" />
		<w:rsid w:val="00C863A7" />
		<w:rsid w:val="00C921BE" />
		<w:rsid w:val="00C939E0" />
		<w:rsid w:val="00C94B32" />
		<w:rsid w:val="00C954B6" />
		<w:rsid w:val="00CA24AA" />
		<w:rsid w:val="00CA35D4" />
		<w:rsid w:val="00CC0C92" />
		<w:rsid w:val="00CC0DF7" />
		<w:rsid w:val="00CC471D" />
		<w:rsid w:val="00CC52DB" />
		<w:rsid w:val="00CD422B" />
		<w:rsid w:val="00CD755A" />
		<w:rsid w:val="00CE23E7" />
		<w:rsid w:val="00CE4CA8" />
		<w:rsid w:val="00CF2B2E" />
		<w:rsid w:val="00D214AA" />
		<w:rsid w:val="00D225E4" />
		<w:rsid w:val="00D26B33" />
		<w:rsid w:val="00D34D35" />
		<w:rsid w:val="00D4533E" />
		<w:rsid w:val="00D54908" />
		<w:rsid w:val="00D57CA7" />
		<w:rsid w:val="00D647AC" />
		<w:rsid w:val="00D70B38" />
		<w:rsid w:val="00D81484" />
		<w:rsid w:val="00D87DC3" />
		<w:rsid w:val="00D91215" />
		<w:rsid w:val="00D94666" />
		<w:rsid w:val="00DA3F3B" />
		<w:rsid w:val="00DA46C7" />
		<w:rsid w:val="00DA5CEA" />
		<w:rsid w:val="00DB5A5A" />
		<w:rsid w:val="00DB6822" />
		<w:rsid w:val="00DC0C85" />
		<w:rsid w:val="00DC1078" />
		<w:rsid w:val="00DC2546" />
		<w:rsid w:val="00DC5C89" />
		<w:rsid w:val="00DD32E6" />
		<w:rsid w:val="00DD7DB8" />
		<w:rsid w:val="00DF0E9B" />
		<w:rsid w:val="00DF1ACD" />
		<w:rsid w:val="00DF2E39" />
		<w:rsid w:val="00DF5C2C" />
		<w:rsid w:val="00DF7005" />
		<w:rsid w:val="00DF7848" />
		<w:rsid w:val="00E00C6E" />
		<w:rsid w:val="00E11D44" />
		<w:rsid w:val="00E127B1" />
		<w:rsid w:val="00E179C9" />
		<w:rsid w:val="00E2067B" />
		<w:rsid w:val="00E20A7C" />
		<w:rsid w:val="00E23F81" />
		<w:rsid w:val="00E25D57" />
		<w:rsid w:val="00E33E33" />
		<w:rsid w:val="00E4082B" />
		<w:rsid w:val="00E40E86" />
		<w:rsid w:val="00E42A16" />
		<w:rsid w:val="00E435B3" />
		<w:rsid w:val="00E4560D" />
		<w:rsid w:val="00E47FC8" />
		<w:rsid w:val="00E50CA0" />
		<w:rsid w:val="00E62BA4" />
		<w:rsid w:val="00E668EB" />
		<w:rsid w:val="00E94874" />
		<w:rsid w:val="00E97DC1" />
		<w:rsid w:val="00EA2BC9" />
		<w:rsid w:val="00EA4043" />
		<w:rsid w:val="00EA6788" />
		<w:rsid w:val="00EA7A59" />
		<w:rsid w:val="00EB4348" />
		<w:rsid w:val="00EB5D49" />
		<w:rsid w:val="00EC75C1" />
		<w:rsid w:val="00EE04D6" />
		<w:rsid w:val="00EF47D0" />
		<w:rsid w:val="00EF66BE" />
		<w:rsid w:val="00F15C11" />
		<w:rsid w:val="00F174B3" />
		<w:rsid w:val="00F20CFB" />
		<w:rsid w:val="00F2373D" />
		<w:rsid w:val="00F30FD9" />
		<w:rsid w:val="00F33CB3" />
		<w:rsid w:val="00F46F04" />
		<w:rsid w:val="00F5199A" />
		<w:rsid w:val="00F523A0" />
		<w:rsid w:val="00F62441" />
		<w:rsid w:val="00F67D3A" />
		<w:rsid w:val="00F712B2" />
		<w:rsid w:val="00F72B40" />
		<w:rsid w:val="00F72E24" />
		<w:rsid w:val="00F74081" />
		<w:rsid w:val="00F860A9" />
		<w:rsid w:val="00FD03D6" />
		<w:rsid w:val="00FD5DA6" />
		<w:rsid w:val="00FD5DC0" />
		<w:rsid w:val="00FE2736" />
		<w:rsid w:val="00FF458C" />
		<w:rsid w:val="00FF59AE" />
	</w:rsids>
	<m:mathPr>
		<m:mathFont m:val="Cambria Math" />
		<m:brkBin m:val="before" />
		<m:brkBinSub m:val="--" />
		<m:smallFrac m:val="off" />
		<m:dispDef />
		<m:lMargin m:val="0" />
		<m:rMargin m:val="0" />
		<m:defJc m:val="centerGroup" />
		<m:wrapIndent m:val="1440" />
		<m:intLim m:val="subSup" />
		<m:naryLim m:val="undOvr" />
	</m:mathPr>
	<w:themeFontLang w:val="fr-FR" />
	<w:clrSchemeMapping w:bg1="light1" w:t1="dark1"
		w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2"
		w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6"
		w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink" />
	<w:shapeDefaults>
		<o:shapedefaults v:ext="edit" spidmax="2050">
			<o:colormenu v:ext="edit" fillcolor="none" strokecolor="none [2732]" />
		</o:shapedefaults>
		<o:shapelayout v:ext="edit">
			<o:idmap v:ext="edit" data="1" />
		</o:shapelayout>
	</w:shapeDefaults>
	<w:decimalSymbol w:val="," />
	<w:listSeparator w:val=";" />
</w:settings>