<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:settings xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
	xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math"
	xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word"
	xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
	xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main">
	<w:zoom w:percent="100" />
	<w:proofState w:spelling="clean" w:grammar="clean" />
	<w:defaultTabStop w:val="708" />
	<w:hyphenationZone w:val="425" />
	<w:characterSpacingControl w:val="doNotCompress" />
	<w:compat />
	<w:rsids>
		<w:rsidRoot w:val="00DC0744" />
		<w:rsid w:val="00002B90" />
		<w:rsid w:val="000054F2" />
		<w:rsid w:val="000140E8" />
		<w:rsid w:val="00032777" />
		<w:rsid w:val="000431B4" />
		<w:rsid w:val="000449F9" />
		<w:rsid w:val="00094ADC" />
		<w:rsid w:val="000A348A" />
		<w:rsid w:val="000D1E3E" />
		<w:rsid w:val="000D2043" />
		<w:rsid w:val="000D5624" />
		<w:rsid w:val="000D7B23" />
		<w:rsid w:val="000F677F" />
		<w:rsid w:val="00105544" />
		<w:rsid w:val="001143EC" />
		<w:rsid w:val="001237FE" />
		<w:rsid w:val="001362E9" />
		<w:rsid w:val="001506AF" />
		<w:rsid w:val="001611D8" />
		<w:rsid w:val="001622AB" />
		<w:rsid w:val="001851AA" />
		<w:rsid w:val="001A78B1" />
		<w:rsid w:val="001B50A2" />
		<w:rsid w:val="001B5D29" />
		<w:rsid w:val="001C03F8" />
		<w:rsid w:val="001C4D7A" />
		<w:rsid w:val="001D1B80" />
		<w:rsid w:val="001D6019" />
		<w:rsid w:val="001E64C2" />
		<w:rsid w:val="00204748" />
		<w:rsid w:val="0025257B" />
		<w:rsid w:val="0025625D" />
		<w:rsid w:val="002600A9" />
		<w:rsid w:val="00260A5F" />
		<w:rsid w:val="002674BC" />
		<w:rsid w:val="00284FAC" />
		<w:rsid w:val="002B6F18" />
		<w:rsid w:val="002C21A5" />
		<w:rsid w:val="002C29A9" />
		<w:rsid w:val="002C5109" />
		<w:rsid w:val="002F1A3D" />
		<w:rsid w:val="003011F6" />
		<w:rsid w:val="00305145" />
		<w:rsid w:val="00311819" />
		<w:rsid w:val="0031708B" />
		<w:rsid w:val="00336B08" />
		<w:rsid w:val="00382CE1" />
		<w:rsid w:val="00394C5F" />
		<w:rsid w:val="003C25FE" />
		<w:rsid w:val="003F2AF7" />
		<w:rsid w:val="003F41C3" />
		<w:rsid w:val="003F72A7" />
		<w:rsid w:val="00425DF6" />
		<w:rsid w:val="004427C0" />
		<w:rsid w:val="0044527B" />
		<w:rsid w:val="004478B2" />
		<w:rsid w:val="004535EA" />
		<w:rsid w:val="00454B0E" />
		<w:rsid w:val="00460600" />
		<w:rsid w:val="00467D74" />
		<w:rsid w:val="00497CC9" />
		<w:rsid w:val="004E4460" />
		<w:rsid w:val="0050161E" />
		<w:rsid w:val="005043F4" />
		<w:rsid w:val="00527B9B" />
		<w:rsid w:val="00531CE6" />
		<w:rsid w:val="00544D04" />
		<w:rsid w:val="0054686D" />
		<w:rsid w:val="00550520" />
		<w:rsid w:val="005660A5" />
		<w:rsid w:val="00581811" />
		<w:rsid w:val="00583377" />
		<w:rsid w:val="00592BDD" />
		<w:rsid w:val="005A2B0C" />
		<w:rsid w:val="005B02D0" />
		<w:rsid w:val="005B1286" />
		<w:rsid w:val="005C6D2F" />
		<w:rsid w:val="005D2158" />
		<w:rsid w:val="005F3645" />
		<w:rsid w:val="0062437F" />
		<w:rsid w:val="00625D60" />
		<w:rsid w:val="0065175F" />
		<w:rsid w:val="00686789" />
		<w:rsid w:val="006A2432" />
		<w:rsid w:val="006B292F" />
		<w:rsid w:val="006C03BC" />
		<w:rsid w:val="006D36A6" />
		<w:rsid w:val="007112E9" />
		<w:rsid w:val="00721963" />
		<w:rsid w:val="00731139" />
		<w:rsid w:val="00741B47" />
		<w:rsid w:val="00744449" />
		<w:rsid w:val="007854F2" />
		<w:rsid w:val="00787A0A" />
		<w:rsid w:val="007B442D" />
		<w:rsid w:val="007D0769" />
		<w:rsid w:val="00803F28" />
		<w:rsid w:val="00811CA0" />
		<w:rsid w:val="00824FD2" />
		<w:rsid w:val="00865241" />
		<w:rsid w:val="008711F9" />
		<w:rsid w:val="00873302" />
		<w:rsid w:val="00882540" />
		<w:rsid w:val="008A7455" />
		<w:rsid w:val="008B0ADC" />
		<w:rsid w:val="008B4A0D" />
		<w:rsid w:val="008C2CE3" />
		<w:rsid w:val="008D1B93" />
		<w:rsid w:val="00900084" />
		<w:rsid w:val="00911380" />
		<w:rsid w:val="00964DCA" />
		<w:rsid w:val="00986207" />
		<w:rsid w:val="009B2185" />
		<w:rsid w:val="009B72EA" />
		<w:rsid w:val="009D3390" />
		<w:rsid w:val="009E0419" />
		<w:rsid w:val="009F46DA" />
		<w:rsid w:val="00A057AA" />
		<w:rsid w:val="00A1100E" />
		<w:rsid w:val="00A30CE3" />
		<w:rsid w:val="00A574E9" />
		<w:rsid w:val="00A6731D" />
		<w:rsid w:val="00A728FB" />
		<w:rsid w:val="00A857C6" />
		<w:rsid w:val="00A90095" />
		<w:rsid w:val="00AC3010" />
		<w:rsid w:val="00AF4EB1" />
		<w:rsid w:val="00AF66E5" />
		<w:rsid w:val="00B05E46" />
		<w:rsid w:val="00B22E8D" />
		<w:rsid w:val="00B243BE" />
		<w:rsid w:val="00B347BB" />
		<w:rsid w:val="00B410B1" />
		<w:rsid w:val="00B4197C" />
		<w:rsid w:val="00B428DF" />
		<w:rsid w:val="00B601DE" />
		<w:rsid w:val="00B613AD" />
		<w:rsid w:val="00B7667C" />
		<w:rsid w:val="00B86C76" />
		<w:rsid w:val="00B9740E" />
		<w:rsid w:val="00BA24AB" />
		<w:rsid w:val="00BC7970" />
		<w:rsid w:val="00BE0F68" />
		<w:rsid w:val="00C171F4" />
		<w:rsid w:val="00C53105" />
		<w:rsid w:val="00C9258A" />
		<w:rsid w:val="00CA2217" />
		<w:rsid w:val="00CB2E8D" />
		<w:rsid w:val="00CC31E7" />
		<w:rsid w:val="00CE4F5B" />
		<w:rsid w:val="00D23C34" />
		<w:rsid w:val="00D244B5" />
		<w:rsid w:val="00D400B5" />
		<w:rsid w:val="00D5028F" />
		<w:rsid w:val="00D57794" />
		<w:rsid w:val="00DA0B18" />
		<w:rsid w:val="00DC0744" />
		<w:rsid w:val="00DC515D" />
		<w:rsid w:val="00DE3C15" />
		<w:rsid w:val="00DE7E9C" />
		<w:rsid w:val="00E0012E" />
		<w:rsid w:val="00E37B1D" />
		<w:rsid w:val="00E45033" />
		<w:rsid w:val="00E451DF" />
		<w:rsid w:val="00E55212" />
		<w:rsid w:val="00E64E27" />
		<w:rsid w:val="00E7055F" />
		<w:rsid w:val="00E83DC5" />
		<w:rsid w:val="00E84762" />
		<w:rsid w:val="00EA2B88" />
		<w:rsid w:val="00ED05A5" />
		<w:rsid w:val="00ED7805" />
		<w:rsid w:val="00EE72A4" />
		<w:rsid w:val="00F04A4F" />
		<w:rsid w:val="00F13D9E" />
		<w:rsid w:val="00F338F7" />
		<w:rsid w:val="00F4624F" />
		<w:rsid w:val="00F62095" />
		<w:rsid w:val="00F73676" />
		<w:rsid w:val="00F739A2" />
		<w:rsid w:val="00F756DA" />
		<w:rsid w:val="00F85883" />
		<w:rsid w:val="00FA49DB" />
		<w:rsid w:val="00FC449E" />
		<w:rsid w:val="00FD7A26" />
	</w:rsids>
	<m:mathPr>
		<m:mathFont m:val="Cambria Math" />
		<m:brkBin m:val="before" />
		<m:brkBinSub m:val="--" />
		<m:smallFrac m:val="off" />
		<m:dispDef />
		<m:lMargin m:val="0" />
		<m:rMargin m:val="0" />
		<m:defJc m:val="centerGroup" />
		<m:wrapIndent m:val="1440" />
		<m:intLim m:val="subSup" />
		<m:naryLim m:val="undOvr" />
	</m:mathPr>
	<w:themeFontLang w:val="de-CH" />
	<w:clrSchemeMapping w:bg1="light1" w:t1="dark1"
		w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2"
		w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6"
		w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink" />
	<w:shapeDefaults>
		<o:shapedefaults v:ext="edit" spidmax="2050" />
		<o:shapelayout v:ext="edit">
			<o:idmap v:ext="edit" data="1" />
		</o:shapelayout>
	</w:shapeDefaults>
	<w:decimalSymbol w:val="." />
	<w:listSeparator w:val=";" />
</w:settings>